    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Daniel Padgett</h2>
              <br/>
                <p> Welcome! I am a Philosophy instructor at Northwest Vista College in San Antonio, TX.  
                I received my PhD in Philosophy from Baylor University in August 2016. My dissertation defended a relational view
                of time. (More details are available on my <a href=/research>research page</a>.) Alexander R. Pruss directed my dissertation.
                <p>If you'd like to know more about what I do outside of philosophy, you can click <a href=/about.html>here</a>. </p>
                <br/>
              </div>
              </div>
        </div>
    </section>
