    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
<h2>About Me</h2>
<p>Hi! I'm Dan, and I want to make your life better. Historically, I've helped people through teaching and instructional design. Recently, though, I've expanded my design skills to User Experience (UX) design more generally. Currently I am the <abbr title="Learning Management System">LMS</abbr> Training Lead at the US Air Force Academy. In this role I focus on helping faculty create learner-centered experiences using the Academy's LMS. I also lead special projects where I design products to help meet the mission of the Academy. If you'd like to see some of those projects, please check out my <a href=/design-projects>Design Projects</a> page. </p>
                
<p>My academic background is in Math and Philosopy, and I hold a PhD in Philosophy. Along with allowing me to read, think, and <a href=/writing>write</a> about some really cool topics, Philosophy has helped hone the skills I employ to design useful solutions by:
  <ul>
      <li> Developing my ability to understand information systematically and organize it in intuitive, simple, and coherent ways; </li>
      <li> Teaching me how to ask insightful questions that reveal assumptions, motivations, and pain points;</li>
      <li> Providing plenty of opportunities to think creatively and outside the box; and</li>
      <li> Encouraging my curiosity and desire to learn about, understand, and apply new concepts and ideas.</li>
  </ul> </p>
                
<p>As a <a href=/teaching>professor and instructional designer</a>, these skills have been further refined and applied to interaction design. To design learning experiences well, I have learned what makes for efficient, effective, and engaging interaction with a product. I can also communicate my ideas extremely well: as a teacher and an academic, I've become adept at presenting and explaining information (even very technical content) to varied audiences. Since learning experiences can always be improved, I've become an expert at seeking feedback from users and iterating based on that feedback.  And, because it's sometimes easier to just do it yourself, I've learned how to code in HTML to design websites (like this one, which uses Bootstrap).
</p>
                
<p>Simply put: I want to figure out and articulate what would make your life better, and come up with a creative, user-friendly solution to do just that.</p>
                
</div>
</div>
</div>
</section>
<!-- Welcome! I am the LMS training lead at the United States Air Force Academy.  
               I received my PhD in Philosophy from Baylor University in August 2016. My dissertation defended a relational view
                of time. (More details are available on my <a href=/research>research page</a>.) Alexander R. Pruss directed my dissertation.
                <p>If you'd like to know more about what I do outside of teaching faculty about Blackboard and thinking about philosophy, you can click <a href=/about.html>here</a>. </p>
                -->
