    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I am a philosopher who has found his home in UX design. Sounds strange? It's not as weird as you might think.
                <ul>
                    <li> Through conducting research and teaching I have become adept at information architecture. To teach and write well, you need to understand the systems and structures you're studying, and how to organize that information in a coherent way.</li>
                    <li> User research aims to solicit useful information from your target audience. Ever hear of Socrates?</li>
                    <li> With a rigorous background in critical thinking and logic, philosophers are keen to spot assumptions, dependencies, and contingencies---all crucial elements in crafting an effective experience strategy.</li>
                    <li> Student engagement is a key component of a well-designed lesson. As a teacher and instructional designer, I have become skilled at interaction design, learning what makes for an efficient, effective, and engaging interaction with a product.</li>
                </ul></p>
                <br>
                <p>Currently I am the LMS Training Lead at the United States Air Force Academy. In this role I focus on helping faculty create
                learner-centered experiences using the Academy's LMS. I also lead special projects where I design products to help meet the 
                mission of the Academy. If you'd like to see some of the project, please check out my <a href=/design-projects>Design Project</a> page. </p>
              <br/>
              </div>
              </div>
        </div>
    </section>


<!-- Welcome! I am the Blackboard training lead at the United States Air Force Academy.  
               I received my PhD in Philosophy from Baylor University in August 2016. My dissertation defended a relational view
                of time. (More details are available on my <a href=/research>research page</a>.) Alexander R. Pruss directed my dissertation.
                <p>If you'd like to know more about what I do outside of teaching faculty about Blackboard and thinking about philosophy, you can click <a href=/about.html>here</a>. </p>
                -->
