<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href=/>Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href=/about.html>About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                  <li>
                        <a href=/design-projects.html>Design Projects</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href=/research.html>Research/Writing</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href=/teaching.html>Teaching</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
            
                    <li>
                        <a href=/cv.html>Resmue/CV</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href=/contact.html>Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
