<section id="teaching">
<!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>Teaching</h2>
                <br/>
                <p> At Northwest Vista College I regularly teach Intro to Philosophy, Intro to Logic, and Intro to Ethics.
                On my <a href=teaching.html>teaching page</a> you will find links to the current syllabi for those courses.
                </p>

                <p> While a graduate student at Baylor, I taught several honors colloquia for the Honors College.
                Please see my teaching page (include link) for more information on those colloquia.</p>
                <br/>
              </div>
            </div>
        </div>  
        <!-- /.container -->

</section>

<section id="research">
<!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>Research</h2>
                <br/>
                <p> My research interests include metaphysics, ethics, and philosophy of religion. 
                My dissertation was a defense of a relational view of time.
                Currently my metaphysics projects include work on time as well as grounding.
                In philosophy of religion I am considering how the view I develop in my dissertation affects our view of divine eternity.
                For more details on these projects, please visit my <a href=research.html>research page</a>.
                If you would like a copy of a paper that I am working on, please send me an email.
                <br/>
              </div>
            </div>
        </div>
        <!-- /.container -->


</section>

<section id="cv">
<!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>CV</h2>
                <br/>
                <p> For the latest version of my CV, please click here (link not up yet).
                <br/>
              </div>
            </div>
        </div>
        <!-- /.container -->
</section>
