<section id="teaching">
<!-- Page Content -->
<!-- {% for post in site.posts reversed %} -->
  <!-- {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %} -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>Teaching</h2>
                <br/>
                <p> Words about teaching go here.
                <br/>
              </div>
            </div>
        </div>  
        <!-- /.container -->

</section>

<section id="research">
<!-- Page Content -->
<!-- {% for post in site.posts reversed %} -->
  <!-- {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %} -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>Research</h2>
                <br/>
                <p> Words about research go here.
                <br/>
              </div>
            </div>
        </div>
        <!-- /.container -->


</section>

<section id="cv">
<!-- Page Content -->
<!-- {% for post in site.posts reversed %} -->
<!--   {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %} -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>CV</h2>
                <br/>
                <p> Words about CV go here.
                <br/>
              </div>
            </div>
        </div>
        <!-- /.container -->
</section>
