<section id="teaching">
<!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>Teaching</h2>
                <br/>
                <p> At Northwest Vista College I regularly teach Intro to Philosophy, Intro to Logic, and Intro to Ethics.
                On my <a href=/teaching.html>teaching page</a> you will find links to the current syllabi for those courses.
                </p>

                <p> While a graduate student at Baylor, I taught several honors colloquia for the Honors College.
                My teaching page includes descriptions for these colloquiua.</p>
                <br/>
              </div>
            </div>
        </div>  
        <!-- /.container -->

</section>

<section id="research">
<!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>Research</h2>
                <br/>
                <p> My main research projects are in metaphysics and the philosohpy of religion. 
                I have interests in both virtue ethics and environmental ethics, and I also dabble in more formal work. 
                For information on these projects, as well as abstracts for works in progress and published work, please visit my <a href=/research.html>research page</a>.
                <br/>
              </div>
            </div>
        </div>
        <!-- /.container -->


</section>

<section id="cv">
<!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>CV</h2>
                <br/>
                <p> For the latest version of my CV, please click <a href=/cv>here</a>.
                <br/>
              </div>
            </div>
        </div>
        <!-- /.container -->
</section>
