<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href=/design-projects.html>Design Projects</a></li>
	        		<li><a href=/writing.html>Writing</a></li>
	        		<li><a href=/teaching.html>Teaching</a></li>
				<li> <a href=/resume-cv.html>Resume&#769;/CV</a></li>
				</li><a href=/contact.html>Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:danpadgett01@gmail.com">Email</a></li>
	        		<li><a href="https://danielpadgett.net">danielpadgett.net</a></li>
				</ul>
			</footer>
		</body>
	</html>
